body {
    margin: 0 auto;
}

.login-background {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #FFA3FD, #7433FF);
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-flexContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.login-secContainer {
    width: 600px;
    background-color: #222831;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.login-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    margin: 30px 0 40px;
}

.login-post {
    height: 50px;
    width: 395px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
    outline: none;
}

.login-password {
    height: 50px;
    width: 395px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
    outline: none;
}

.login_checkboxForgottenPassword {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 395px;
    margin-bottom: 40px;
}

.login-checkbox_container {
    display: flex;
    align-items: center;
}

.login-checkbox {
    background-color: #FFFFFF;
    margin: 0;
    height: 18px;
    width: 18px;
}

.login-labelCheckbox {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 10px;
}

.login_forgottenPassword {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.login-enter {
    height: 50px;
    width: 395px;
    background-color: #FCFCFD;
    color: #23262F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    border-radius: 90px;
    text-align: center;
    margin-bottom: 40px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.login-massangersLabel {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    width: 395px;
    margin-bottom: 25px;
}

.login-massangersLogo {
    width: 395px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.login-logo_img {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.login-registrationContainer {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222831;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.login-lankRegistration{
    margin-left: 10px;
}