/* .login-post {
    height: 50px;
    width: 395px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: #A0A3BD;
    padding: 0 15px;
}

.login-password {
    height: 50px;
    width: 395px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: #A0A3BD;
    padding: 0 15px;
} */

.login_checkboxForgottenPassword {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 395px;
    margin-bottom: 40px;
}

.login-checkbox_container {
    display: flex;
    align-items: center;
}

.login-labelCheckbox {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 10px;
}

.login_forgottenPassword {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.login-massangersLabel {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    width: 395px;
    margin-bottom: 25px;
}

.login-massangersLogo {
    width: 395px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.login-logo_img {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.login-registrationContainer {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222831;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.login-lankRegistration {
    margin-left: 10px;
}
