.registration-title {
    margin-bottom: 30px;
}

.registration-nameLabel {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0 0 30px 0;
}

.registration-input {
    height: 50px;
    width: 395px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: #A0A3BD;
    padding: 0 15px;
}